:root {
  --main-color: #ffffff;
  --dark-topic: #2f303a;
  --logo-span: #2196f3;
  --btn: #2196f3;
  --top-battom: #2f303a;
  --nav-btn: #ffffff;
  --logo-nav-header: #212121;
  --mail-tel: #757575;
  --btn-word: #212121;
  --back-btn: #f5f4fa;
  --text: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  background-size: contain;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
/* ====== HEADER ====== */
.header {
  background: var(--main-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
}
.logo-img {
  color: var(--logo-nav-header);
}
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation-list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.logotype {
  margin-right: 93px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-link {
  color: var(--logo-nav-header);
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--btn);
}
.mail-link {
  margin-left: auto;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--mail-tel);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--btn);
}
.tel-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--mail-tel);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--btn);
}
/* ====== END HEADER ====== */

/* ====== NAVIGATION ====== */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.information-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-block {
  margin-bottom: 56px;
}
.btn-list:not(:last-child) {
  margin-right: 8px;
}
.btn-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-list-link:hover,
.btn-list-link:focus {
  background: var(--btn);
}
.btn-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-word);
  min-width: 130px;
  height: 38px;
  background: var(--back-btn);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
/* ====== END NAVIGATION ====== */

/* ====== GALLERY ====== */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.gallery-board {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.gallery-list {
  width: 370px;
  background: var(--main-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 15px;
}
.foto-gallery {
  width: 370px;
}
.gallery-desc {
  padding: 20px 24px;
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-top: 4px;
}
/* ====== END GALLERY ======= */

/* ====== FOOTER ====== */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-topic);
}
.logo-style-footer {
  color: var(--main-color);
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  width: 145px;
}
.logo-bottom {
  margin-bottom: 20px;
}
.address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.contacts-block:not(last-child) {
  margin-bottom: 9px;
}
.contacts-list-link {
  color: var(--main-color);
}
.contacts_list {
  color: rgba(255, 255, 255, 0.6);
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--btn);
}
/* ====== END FOOTER ====== */
